
<h2 class="title_panel">{{conference?.title}}</h2>
<dl>
  <dt>Date</dt>
  <dd>{{conference?.date | date : "shortDate"}}</dd>
  <dd></dd>
  <dt>Address</dt>
  <dd><address>{{conference?.address}}</address></dd>
  <dt>Country</dt>
  <dd>{{conference?.country}}</dd>
</dl>

<div class="full" id="map"></div>
<button mat-icon-button class="button-information"><mat-icon>edit</mat-icon></button>
<button mat-icon-button class="button-information" (click)="deleteConference(conference)"><mat-icon>delete</mat-icon></button>





