<form [formGroup]="dataForm">

  <mat-form-field>

    <mat-label>Title</mat-label>

    <input matInput placeholder="Title" formControlName="title" required>

    <mat-error>
      <span *ngIf="dataForm.controls.title.errors?.required">Input empty</span>
      <span *ngIf="dataForm.controls.title.errors?.minlength">Min length</span>
      <span *ngIf="dataForm.controls.title.errors?.maxlength">
        Max length {{dataForm.controls.title.errors?.maxlength?.requiredLength}} symbol ,
        {{dataForm.controls.title.errors?.maxlength?.actualLength}}
      </span>
      <span *ngIf="dataForm.controls.title.errors?.minlength">
        Max length {{dataForm.controls.title.errors?.minlength?.requiredLength}} symbol ,
        {{dataForm.controls.title.errors?.minlength?.actualLength}}
      </span>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Country</mat-label>
    <input matInput placeholder="Country" formControlName="country" required>
    <mat-error><span *ngIf="dataForm.controls.country.errors?.required">Input empty</span></mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Address</mat-label>
    <input matInput placeholder="Address" formControlName="address" required>
    <mat-error><span *ngIf="dataForm.controls.address.errors?.required">Input empty</span></mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Choose conference date :</mat-label>
    <input matInput [matDatepicker]="datepicker" [defaultValue]="selected | date : 'fullDate'">
    <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
    <mat-datepicker #datepicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Position latitude</mat-label>
    <input matInput placeholder="Latitude" formControlName="lat">
    <mat-error><span *ngIf="dataForm.controls.lat.errors?.required">Input empty</span></mat-error>
    <mat-error><span *ngIf="dataForm.controls.lat.errors?.pattern">Only number and one point</span></mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Position longitude</mat-label>
    <input matInput placeholder="Longitude" formControlName="lng">
    <mat-error><span *ngIf="dataForm.controls.lng.errors?.required">Input empty</span></mat-error>
    <mat-error><span *ngIf="dataForm.controls.lng.errors?.pattern">Only number and one point</span></mat-error>
  </mat-form-field>


  <div class="full" id="map"></div>

  <button
    mat-icon-button
    type="submit"
    class="button_full"
    [ngClass]="{
    button_warm : !dataForm.valid
    }"
    [disabled]="!dataForm.valid"
    (click)="submit()">
    <mat-icon>save</mat-icon>
    Save
  </button>
</form>



