
<h2 class="title_panel" >Conferences</h2>
<mat-list>
  <mat-list-item><span>Dolorem doloribus ducimus et ipsum itaque laborum maiores porro quod temporibus veritatis! Adipisci alias at beatae blanditiis deleniti dignissimos fuga iusto laudantium non, officiis omnis qui rerum, saepe sed, tempore!</span><button mat-icon-button color="primary"><mat-icon>edit</mat-icon></button><button mat-icon-button color="primary"><mat-icon>delete</mat-icon></button></mat-list-item>
  <mat-divider></mat-divider>
</mat-list>
